.session-container {

}

.card-deck, .card-group{
    margin-bottom: 2rem;
}

.card-group{
    width: 100%;
}

.show-more{
    height: 10px;
    background-color: red;
}

#session-cards{
    background-color: red;
    height: 10rem;
}

/*.tab-content{*/
    /*border-left: .5px solid lightblue;*/
    /*border-Right: .5px solid lightblue;*/
    /*border-bottom: .5px solid lightgrey;*/
    /*border-bottom-left-radius: .25rem!important;*/
    /*border-bottom-right-radius: .25rem!important;*/
    /*-moz-border-radius-bottomright: .25rem!important;*/
    /*-moz-border-radius-bottomleft: .25rem!important;*/
/*}*/

