{% extends 'common/base.html' %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/feed/feed.css' %}" type="text/css">
{% endblock stylesheets %}

{% block content %}

    <div class="container">
        {% if user.profile.status == 'TR' %}
            <h1>Teacher Account</h1>
        {% elif user.profile.status %}
            <h1>Student Account</h1>
        {% endif %}

         {% for class in class_list %}
             <a href="{% url 'class' class.pk %}">
                <div class="card class-card" style="margin-bottom: 50px;">
                    <div class="card-body">
                        {{ class }}
                    </div>
                </div>
             </a>
         {% endfor %}
    </div>



{% endblock content %}